language: node_js
node_js:
- '8'
- '9'
- '10'
cache:
  directories:
  - node_modules
before_deploy:
- npm run docs:build
deploy:
  provider: pages
  skip-cleanup: true
  github-token: "$GITHUB_TOKEN"
  keep-history: true
  local-dir: docs
  on:
    branch: master

env:
  global:
    secure: HF5uSdNKjbx5/oxOxShrwgN3ZF+Jnf+MCT3W1kPdblEZC4e1TO2JndpLPAlgopKGgAKxLdwcZWTsmj5XzURgx9Y9/XmYb2jJ0QCJvKJ/ulsDSLnRKwGBePsdwXLXvuB/c+3RklxOc9+YziSFofM0VAUf3XU6DGlCautAumFe1hZC5MahcdhTOCsJ5RVaIV5wtj+87q4i0E04LCmmTTP3is4ZEyfXGi0jmHiTGOZw7x5azUsr89CpDjzSNDFwIy4bzuzRsnLv9h5tM17tFg36GhYjKnjLBka+CBhnKL7ly2P0A8q+6FZb10gIelJz0Nj1U/IQ1+78vKgIJhfhngr850sHWzn4Sqr0szh3tp3DMNKgQLrsuqcV8rf4mXwVH8sBbgmUClBao6rCqog4+bw6YxMoiNxBFPR4TLxp/GoAQugXvGwRm8f/LoQhnEtwaR6P4uRvWiZsPSamcsriE78IriHnQy6m1I8R5dvfy0Ggh4q73AqPucmcy8jyfzRSG9yhucqLfG/vRRxe2bypY/uFGN7QPGWDt4cvWnip0Fl1YSHiTysXBXrKOAPGVN5q0r43oWIhohyCe28NsM68MPZdvjScAYc3KYnAsk/d4JHekrAt7YfAbbfINpeWylxsggv1645gqHaaBYWunHsRgBbl2Q5z1fs4vgJ06mofcMbiLA0=
